<div class='header header-absolute'>
  <div class="container">
    <div class="logo">
      <a href="{{ .Site.BaseURL }}"><img alt="TinCNC" src="{{ .Site.BaseURL }}images/logo-factories-network.png" /></a>
    </div>
    <div class="logo-mobile">
      <a href="{{ .Site.BaseURL }}"><img alt="TinCNC Homepage" src="{{ .Site.BaseURL }}images/logo-factories-network.png" /></a>
    </div>
    {{ partial "main-menu.html" . }}
    {{ partial "languages.html" . }}
    {{ partial "hamburger.html" . }}
  </div>
</div>